{{page-title 'Index'}}
<div class="container">
  <h3>
    Timetable length
    {{this.data.length}}
  </h3>
  <div class="row">
    <div class="col-12">
      <h3>
        Timetables
      </h3>
      <BsForm
        @formLayout="vertical"
        @model={{this}}
        @onSubmit={{this.parseTimetable}} as |form|
      >
        <button class="btn btn-primary" {{on 'click' this.deleteTimetable}}>
          Delete timetable models
        </button>
        <form.element
          @controlType="textarea"
          @label="Textarea"
          @property="timetableCSV"
        />
        <form.submitButton>
          Parse timetable CSV
        </form.submitButton>
      </BsForm>
      <div class="row">
        <div class="col-12">
          Number of errors
          {{this.incorrectData.length}}
        </div>
        {{#each (take 200 this.incorrectData) as |incorrectStand|}}
          <div class="col-3">
            {{incorrectStand.standId}}
          </div>
          <div class="col-4">
            {{#each incorrectStand.lines as |intersectedLine|}}
              <div class="row">
                <div class="col-6">
                  {{intersectedLine.start}}
                </div>
                <div class="col-6">
                  {{intersectedLine.end}}
                </div>
              </div>
            {{/each}}
          </div>
          <div class="col-5">
            <D3::TimetableChart
              @data={{incorrectStand.lines}}
              @width={{260}}
              @chartOptions={{hash
                minY=''
                maxY=''
                minX=(get (get (get incorrectStand 'lines') 0) 'start')
                maxX=(get (get (reverse (get incorrectStand 'lines')) 0) 'end')
              }}
              @aspectRatio={{0.6}}
            />
          </div>
        {{/each}}
      </div>
      <h3>
        Chart options
      </h3>
      <BsForm
        @formLayout="vertical"
        @model={{this.chartOptions}}
        @onSubmit={{this.changeChartOptions}} as |form|
      >
        <form.element @controlType="input" @label="min Y" @property="minY" />
        <form.element @controlType="input" @label="max Y" @property="maxY" />
        <form.element @controlType="input" @label="min X" @property="minX" />
        <form.element @controlType="input" @label="max X" @property="maxX" />
        <form.submitButton>
          Change options
        </form.submitButton>
      </BsForm>
      <D3::TimetableChart
        @data={{this.data}}
        @width={{960}}
        @chartOptions={{hash
          minY=this.chartOptions.minY
          maxY=this.chartOptions.maxY
          minX=this.chartOptions.minX
          maxX=this.chartOptions.maxX
        }}
        @aspectRatio={{0.6}}
      />
    </div>
    <div class="col-12">
      <ModelsTable
        @data={{this.data}}
        @columns={{this.columns}}
        @showComponentFooter={{this.showComponentFooter}}
        @showColumnsDropdown={{this.showColumnsDropdown}}
        @useFilteringByColumns={{this.useFilteringByColumns}}
        @showGlobalFilter={{this.showGlobalFilter}}
        @doFilteringByHiddenColumns={{this.doFilteringByHiddenColumns}}
        @useNumericPagination={{this.useNumericPagination}}
        @filteringIgnoreCase={{this.filteringIgnoreCase}}
        @multipleColumnsSorting={{this.multipleColumnsSorting}}
        @showCurrentPageNumberSelect={{this.showCurrentPageNumberSelect}}
        @collapseNumPaginationForPagesCount={{this.collapseNumPaginationForPagesCount
        }}
        @showPageSize={{this.showPageSize}}
      />
    </div>
  </div>
</div>
{{outlet}}