{{page-title 'Index'}}
<div class="container">
  <div class="row">
    <div class="col-8">
      <h3>
        Timetables
      </h3>
      <BsForm
        @formLayout="vertical"
        @model={{this}}
        @onSubmit={{this.parseTimetable}} as |form|
      >
        <button
          type="button"
          class="btn btn-outline-primary"
          {{on 'click' this.costsOptArray}}
        >
          Calculate MiniMax rearrangement
        </button>
        <button
          type="button"
          class="btn btn-outline-primary"
          {{on 'click' this.calculateCosts}}
        >
          Calculate Costs {{this.calcCost}}
        </button>
        <form.element
          @controlType="textarea"
          @label="Textarea"
          @property="timetableCSV"
          rows="10"
        />
        <form.submitButton>
          Parse timetable CSV
        </form.submitButton>
      </BsForm>
      <div class="row">
        <div class="col-6">
          Number of errors
          {{this.incorrectData.length}}
        </div>
        <div class="col-6">
          <button
            class="btn btn-outline-primary"
            {{on 'click' this.toggleShowErrors}}
          >
            Show/hide error details
          </button>
        </div>
        {{#if this.showErrors}}
          {{#each (take 200 this.incorrectData) as |incorrectStand|}}
            <div class="col-3">
              {{incorrectStand.standId}}
            </div>
            <div class="col-4">
              {{#each
                (sort-by 'start' incorrectStand.lines) as |intersectedLine|
              }}
                <div class="row">
                  <div class="col-6">
                    {{intersectedLine.start}}
                  </div>
                  <div class="col-6">
                    {{intersectedLine.end}}
                  </div>
                </div>
              {{/each}}
            </div>
            <div class="col-5">
              <D3::TimetableChart
                @data={{incorrectStand.lines}}
                @width={{260}}
                @chartOptions={{hash
                  minY=''
                  maxY=''
                  minX=(get (get (get incorrectStand 'lines') 0) 'start')
                  maxX=(get
                    (get (reverse (get incorrectStand 'lines')) 0) 'end'
                  )
                }}
                @aspectRatio={{0.6}}
              />
            </div>
          {{/each}}
        {{/if}}
      </div>
      <button
        class="btn btn-outline-primary"
        {{on 'click' this.toggleShowOptions}}
      >
        Show/hide chart options
      </button>
      {{#if this.showChartOptions}}
        <h3>
          Chart options
        </h3>
        <BsForm @formLayout="vertical" @model={{this.chartOptions}} as |form|>
          <form.element @controlType="input" @label="min Y" @property="minY" />
          <form.element @controlType="input" @label="max Y" @property="maxY" />
          <form.element @controlType="input" @label="min X" @property="minX" />
          <form.element @controlType="input" @label="max X" @property="maxX" />
        </BsForm>
      {{/if}}
    </div>
    <div class="col-4">
      <div class="row">
        <h2>
          Statistics of the arrangement
        </h2>
        <div class="col-12">
          <p>
            Length of timetable:
            {{this.data.length}}
          </p>
          <p>
            Total cost
            {{this.totalCost}}
          </p>
          <p>
            Total Optimal cost / via stands
            {{this.totalOptCost}}
            /
            {{this.totalOptCostsViaStands}}
          </p>
          <p>
            Total utilisation
            {{this.totalStandsUtilization}}
          </p>
          <p>
            Ratio
            {{this.optimalRatio}}
          </p>
          Stands Utilisations:
          {{#each (take 10 this.standsUtilization) as |standU|}}
            <div>
              {{standU.stand}}
              {{standU.utilisation}}
            </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="col-12">
      <D3::TimetableChart
        @data={{this.data}}
        @stands={{this.stands}}
        @width={{960}}
        @chartOptions={{hash
          minY=this.chartOptions.minY
          maxY=this.chartOptions.maxY
          minX=this.chartOptions.minX
          maxX=this.chartOptions.maxX
        }}
        @aspectRatio={{0.6}}
      />
    </div>
    <div class="col-12">
      <D3::StandUtilisation
        @data={{this.standsUtilization}}
        @width={{960}}
        @aspectRatio={{0.3}}
      />
    </div>
    <div class="col-12">
      <ModelsTable
        @data={{this.data}}
        @columns={{this.columns}}
        @showComponentFooter={{this.showComponentFooter}}
        @showColumnsDropdown={{this.showColumnsDropdown}}
        @useFilteringByColumns={{this.useFilteringByColumns}}
        @showGlobalFilter={{this.showGlobalFilter}}
        @doFilteringByHiddenColumns={{this.doFilteringByHiddenColumns}}
        @useNumericPagination={{this.useNumericPagination}}
        @filteringIgnoreCase={{this.filteringIgnoreCase}}
        @multipleColumnsSorting={{this.multipleColumnsSorting}}
        @showCurrentPageNumberSelect={{this.showCurrentPageNumberSelect}}
        @collapseNumPaginationForPagesCount={{this.collapseNumPaginationForPagesCount
        }}
        @expandedRowComponent={{component 'emt/expanded-line'}}
        @showPageSize={{this.showPageSize}}
        @pageSize={{50}}
      />
    </div>
  </div>
</div>
{{outlet}}